[submodule "astrbot_plugin_napcat"]
	path = astrbot_plugin_napcat
	url = ./astrbot_plugin_napcat
[submodule "astrbot_plugin_output_tags"]
	path = astrbot_plugin_output_tags
	url = ./astrbot_plugin_output_tags
